<div class="container-fluid">
<h4 class="text-muted">Project created by Marek Wodziński as a short project for Eksploracja Danych Biomedycznych subject.</h4>
<h4 class="text-muted">Used technologies:</h4>
<ul class="list-group">
  <a target="_blank" href="https://developer.infermedica.com/" class="list-group-item"><span class="badge">1</span><p class="text-info">Infermedica API</p></a>
  <a target="_blank" href="https://d3js.org/" class="list-group-item"><span class="badge">2</span><p class="text-info">D3 Visualization</p></a>
  <a target="_blank" href="http://flask.pocoo.org/" class="list-group-item"><span class="badge">3</span><p class="text-info">Flask Framework</p></a>
  <a target="_blank" href="http://www.sqlalchemy.org/" class="list-group-item"><span class="badge">4</span><p class="text-info">SQLAlchemy</p></a>
  <a target="_blank" href="http://getbootstrap.com/" class="list-group-item"><span class="badge">5</span><p class="text-info">Bootstrap</p></a>
</ul>
</div>