<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medical Interview Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='sticky_footer.css') }}" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
  <script type="text/javascript" src="http://x3dom.org/x3dom/example/x3dom.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

</head>
<body>


<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand text-white" href="/">Self Diagnosis</a>
    </div>
    <ul class="nav navbar-nav">
      <li{% if home %} class="active" {% endif %}><a href="/">Home</a></li>
      <li{% if diagnosis %} class="active" {% endif %}><a href="/diagnosis">Diagnosis</a></li>
      <li{% if visualization %} class="active" {% endif %}><a href="/visualization">Visualization</a></li>
      <li{% if about %} class="active" {% endif %}><a href="/about">About</a></li> 
    </ul>
  </div>
</nav>



