<div class="container-fluid">
  <h2 class="text-info text-center">Greetings Stranger!</h2>
  <br>
  <h4 class="text-center text-muted">
  Heart pain? Stomach ache? Vomiting? Or something wrong in general?<br>
  Want to know what's wrong with you, but the doctor is busy or his contract has ended this year?<br>
  You are in the right place!<br>
  The Self Diagnosis application will help you identify what is the cause of yours biliousness and aches!<br>
  Just try it - absolutely for free!</h4>
  <div class="text-center">
  <a href="/diagnosis" class="btn btn-primary btn-large" role="button">I want to try!</a>
  </div>
</div>